code-challenge-4/obj/project.assets.json
code-challenge-4/obj/project.nuget.cache
code-challenge-4/obj/storage-lab.csproj.nuget.dgspec.json
code-challenge-4/obj/storage-lab.csproj.nuget.g.props
code-challenge-4/obj/storage-lab.csproj.nuget.g.targets
code-challenge-4/obj/Debug/netcoreapp2.2/storage-lab.assets.cache
code-challenge-4/obj/Debug/netcoreapp2.2/storage-lab.csprojAssemblyReference.cache
code-challenge-5/obj/project.assets.json
code-challenge-5/obj/project.nuget.cache
code-challenge-5/obj/storage-lab.csproj.nuget.dgspec.json
code-challenge-5/obj/storage-lab.csproj.nuget.g.props
code-challenge-5/obj/storage-lab.csproj.nuget.g.targets
code-challenge-5/obj/Debug/netcoreapp2.2/storage-lab.AssemblyInfo.cs
code-challenge-5/obj/Debug/netcoreapp2.2/storage-lab.AssemblyInfoInputs.cache
code-challenge-5/obj/Debug/netcoreapp2.2/storage-lab.assets.cache
